In [1]:
import numpy as np
import pandas as pd
data1 = pd.read_csv('file1.csv')
data2 = pd.read_csv('file2.csv')
data3 = pd.read_csv('file3.csv')

In [2]:
data1.shape

(4008, 11)

In [3]:
data2.shape

(996, 11)

In [4]:
data3.shape

(7070, 11)

In [5]:
data1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [6]:
data2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [7]:
data1=data1.rename(columns={'GENDER' : 'Gender', 'ST':'State'})
data2=data2.rename(columns={'GENDER' : 'Gender', 'ST':'State'})

data1=data1[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]
data2=data2[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]
data2=data2[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [8]:
data1.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [9]:
data2.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [10]:
data3.columns
data3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [11]:
column_names = data1.columns
data = pd.DataFrame(columns=column_names)
data = pd.concat([data,data1,data2,data3],axis=0)

In [12]:
data.head()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [13]:
data.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [14]:
from pandas.api.types import CategoricalDtype
numerical=data.select_dtypes(include=np.number).columns.tolist()
print(numerical)

['Income', 'Monthly Premium Auto', 'Total Claim Amount']

In [15]:
categorical=data.select_dtypes(CategoricalDtype).columns.tolist()
print(categorical)

[]

In [16]:
data=data.drop(['Education','Number of Open Complaints'],axis=1)

In [17]:
data.shape

(12074, 9)

In [18]:
data['Customer Lifetime Value']=(data['Customer Lifetime Value'])*100
data['Customer Lifetime Value']=pd.to_numeric(data['Customer Lifetime Value'], errors='coerce')

In [19]:
data['Customer Lifetime Value']

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
            ...
7065    2.340599e+06
7066    3.096511e+05
7067    8.163890e+05
7068    7.524442e+05
7069    2.611837e+05
Name: Customer Lifetime Value, Length: 12074, dtype: float64

In [20]:
data.head()

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,NaN,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,NaN,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,NaN,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,NaN,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

In [25]:
data=data.drop_duplicates(subset='Customer',keep='first')
data.shape

(9057, 9)

In [37]:
data= data.loc[(data['Income'] != 0)]

In [38]:
data.head()

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
2,AI49188,Nevada,F,NaN,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,NaN,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,NaN,62902.0,69.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,NaN,55350.0,67.0,Corporate Auto,Four-Door Car,321.600000
8,DY87989,Oregon,M,NaN,14072.0,71.0,Corporate Auto,Four-Door Car,511.200000

In [39]:
data.shape

(6772, 9)